{% extends "network/layout.html" %}

{% block body %}

    <div id="home-container">

        <h3>Home</h3>

        {% if user.is_authenticated %}
            <div class="posts-filter span-2-col">
                <div id="all-posts">
                    <div class="selection">
                        All posts
                    </div>
                    <div class="selector"></div>
                </div>
                <div id="following">
                    <div class="selection">
                        Following
                    </div>
                    <div class="selector hidden"></div>
                    
                </div>
            </div>
            <div class="new-post">
                <div class="profile-pic">
                    {% if user.profile_img %}
                        <img src="{{ user.profile_img.url }}" height="48px" width="48px" class="profile-img">
                    {% else %}
                        <div class="no-profile-img"><h4>{{ user.first_name|first }}</h4></div>
                    {% endif %}
                </div>
                <form action="{% url 'newpost' %}" method="post" id="post">
                    {% csrf_token %}
                    
                    {{ newPostForm }}
                    <br>
                    <input id="submit" type="submit", value="Post">
                </form>
            </div>
        {% endif %}
        
        <div class="posts-container"></div>
{% endblock %}