{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/network.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light flex-sm-column">
                <!-- <a class="navbar-brand" href="{% url 'index' %}">Network</a> -->
                <div>
                    <a class="navbar-brand" href="{% url 'index' %}">Network</a>
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profileview' user %}"><strong class="current-user">{{ user.username }}</strong></a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Following</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <div class="body">
                {% block body %}
                {% endblock %}
            </div>

            <div id="popup"></div>
            <dialog id="modal">
                <h3>Delete Post?</h3>
                <p>This can&#39;t be undone and it will be removed from your profile and the timeline of any accounts that follow you.</p>
                <div class="deletePost">Delete</div>
                <div class="cancelDelete">Cancel</div>
            </dialog>
        </div>
    </body>
</html>