{% extends "network/layout.html" %}

{% block body %}
    
    <div id="profile-container">
        <div class="profile-header"></div>
        <div class="profile-information">

            {% if currentUser != profileUser %}
                <div id="follow" data-value="{{followed_button_value}}"><b class="followed-value">{{ followed_button_value }}</b></div>
            {% endif %}

            <div class="profile-name">{{ profileUser.first_name }} {{ profileUser.last_name }}</div>
            <div class="profile-user">{{ profileUser }}</div>
            <div class="profile-network"><b>{{ following.count }}</b> Following &emsp; <b>{{ followers.count }}</b> Followers</div>    
        </div>
        <div class="posts-activity-container">
            <div class="profile-interactions span-3-col">
                <div id="profile-posts">
                    <div class="selection">
                        Posts
                    </div>
                    <div class="selector"></div>
                </div>
                <div id="profile-comments">
                    <div class="selection">
                        Comments
                    </div>
                    <div class="selector hidden"></div>
                </div>
                <div id="profile-likes">
                    <div class="selection">
                        Likes
                    </div>
                    <div class="selector hidden"></div>
                </div>
            </div>

            <div class="posts-container"></div>
        </div>
    </div>
{% endblock %}
